@import (reference) 'variables.less';
@import 'menu-fixed.less';
@import 'media.less';

*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
}

.ir {
  text-indent: 100%; // -999999px?
  white-space: nowrap;
  overflow: hidden;
}

html, body { margin:0; height: 100%;}