@import (reference) 'variables.less';
@import 'menu-fixed.less';
@import 'menu-drop-down.less';
@import 'media.less';

*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
}

.ir {
  text-indent: -999999px; // 100%?
  white-space: nowrap;
}

html, body {
  margin: 0;
  height: 100%;
}

.align-image-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

// #wrapper{
//   margin: 0 auto;
//   width: 980px;
//   height: 100%;
// }